/* 
! Mobile-First Approach
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles 
*/

/* Variables */
:root {
    /* Color Primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Color Neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body{
    font-family: 'Public Sans', sans-serif;
}

h2 {
    font-weight: 400;
    color: var(--dark-blue);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
  
ul {
    list-style: none;
    padding: 0;
}

/* Utility Styles */
.container {
    width: min(85%, 1200px);
    margin-inline: auto;
  }

/* Mobile Styles */
nav.navbar {
    background:var(--white);
}

.navbar {
    padding-block: 1.2rem;
}

/* Section - Intro */
.section-intro {
    background: var(--very-light-gray);
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position: top -40px right 0px;
    background-size: 100%;
    text-align: center;
}

.section-intro img {
    max-width: 100%;
    display: inline-block;
    margin-top: -7.94rem;
}

.section-intro__content {
    padding-block: 3rem;
}

.section-intro__content h1 {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 2.3rem;
    margin-block-end: 1.4rem;
}

.section-intro__content p {
    font-weight: 400;
    color:var(--grayish-blue);
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-block-end: 2rem;
}

.section-intro__content a {
    background: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
    color: var(--very-light-gray);
    padding: 1rem 2.5rem;
    border-radius: 50px;
    margin-block-end: 2rem;
}

/* Section - Features */
.section-features {
    background: var(--light-grayish-blue);
    text-align: center;
    padding-block: 4rem;
}

.section-features h2 {
    font-size: 2.3rem;
    margin-block-end: 1.5rem;
}

.section-features > p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: var(--grayish-blue);
    margin-block-end: 4rem;
}

.asides img {
    width: 20%;
}

.asides h3 {
    margin-block: 1.7rem 1rem;
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 1.3rem;
}

.asides p {
    color: var(--grayish-blue);
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 0.8rem;
    margin-block-end: 2.2rem;
}

/* Section - Info */
.section-info {
    background: var(--very-light-gray);
    padding-block: 6rem;
}

.section-info h2 {
    font-size: 2.3rem;
    text-align: center;
    margin-block-end: 1.5rem;
}

.articles article {
    background: var(--white);
    margin-block-start: 2rem;
    border-radius: 10px;
}

.articles img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

.articles .articles__content {
    padding-block: 1.5rem;
    margin-inline: 1rem;
}

.articles__content p {
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 0.84rem;
    line-height: 1.2rem;
}

.articles__content h3 {
    margin-block: 1rem;
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 1.1rem;
}

/* Footer Styles*/
footer {
    background-color: var(--dark-blue);
    text-align: center;
    color: var(--grayish-blue);
    padding-block-start: 3rem;
}

ul.social__icons {
    display:flex;
    margin-block: 2rem;
    color: var(--white);
    justify-content: center;
}

ul.social__icons li a i {
    padding-inline: 0.5rem;
    font-size: x-large;
}

.secondary-nav {
    color: var(--grayish-blue);
}

.secondary-nav ul li a {
    margin-block-end: 1rem;
    font-size: 0.9rem;
}

.secondary-nav ul li.last a {
    margin-block-end: 2rem;
}

.terms__privacy a {
    background: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
    color: var(--white);
    padding: 1rem 2.5rem;
    border-radius: 50px;
    margin-block-end: 2rem;
}

.terms__privacy p {
    color: var(--grayish-blue);
    font-weight: 400;
    font-size: 1rem;
}

footer .attribution { 
    margin-block-start: 2rem;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Desktop Styles */
@media (min-width: 1440px) {
    /* Section - Features */
    .section-features {
        text-align: left;
    }

    .asides {
        display: flex;
        gap: 1rem;
    }

    /* Section - Info */
    .section-info h2 {
        text-align: left;
    }
    .articles {
        display: flex;
        gap: 1.7rem;
    }

    /* Footer style */
    .footer__wrapper {
        display: flex;
        align-items: center;
    }

    .footer__wrapper > * {
        flex: 1 1 auto;
    }

    .footer {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    .footer .social, nav.secondary-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .terms__privacy {
        text-align: right;
    }
}