/* 
! Mobile-First Approach
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles 
*/

/* Variables */
:root {
    /* Color Primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Color Neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

/* Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body{
    font-family: 'Public Sans', sans-serif;
}

h2 {
    font-weight: 400;
    color: var(--dark-blue);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
  
ul {
    list-style: none;
    padding: 0;
}

/* Utility Styles */
.container {
    width: min(80%, 1200px);
    margin-inline: auto;
  }

/* Mobile Styles */
.navbar {
    padding-block: 1.2rem;
}

.main {
    padding-block-end: 8rem;
}

/* Section - Intro */
.section-intro {
    background: var(--very-light-gray);
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.section-intro img {
    max-width: 100%;
    display: inline-block;
}

.section-intro__content {
    padding-block: 3rem;
}

.section-intro__content h1 {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 2.3rem;
    margin-block-end: 1.4rem;
}

.section-intro__content p {
    font-weight: 400;
    color:var(--grayish-blue);
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-block-end: 2rem;
}

.section-intro__content a {
    background: linear-gradient(45deg, var(--lime-green), var(--bright-cyan));
    color: var(--very-light-gray);
    padding: 1rem 2.5rem;
    border-radius: 50px;
    margin-block-end: 2rem;
}

/* Section - Features */
.section-features {
    background: var(--light-grayish-blue);
    text-align: center;
    padding-block: 4rem;
}

.section-features h2 {
    font-size: 2.3rem;
    margin-block-end: 1.5rem;
}

.section-features > p {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: var(--grayish-blue);
    margin-block-end: 4rem;
}

.articles img {
    width: 20%;
}

.articles h3 {
    margin-block: 1.7rem 1rem;
    color: var(--dark-blue);
    font-weight: 400;
    font-size: 1.3rem;
}

.articles p {
    color: var(--grayish-blue);
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 0.8rem;
    margin-block-end: 2.2rem;
}